######################################################
# Visual Studio
######################################################

.vs/
.vscode/
.idea/

######################################################
# Build Output
######################################################

bin/
obj/

######################################################
# User Specific Files
######################################################

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

######################################################
# Logs
######################################################

*.log

######################################################
# Test Results
######################################################

TestResults/

######################################################
# NuGet
######################################################

*.nupkg
packages/

######################################################
# Publish
######################################################

publish/

######################################################
# OS Files
######################################################

.DS_Store
Thumbs.db

######################################################
# Rider
######################################################

_ReSharper*/
*.DotSettings.user

######################################################
# Local Environment
######################################################

.env
.env.*